<th:block th:replace="layouts/header" />

                <head>
                    <span class="p-5 text-xl text-gray-600 font-bold">CONSULTATION DE L'ASCENCE</span>
                </head>
                <section class="flex flex-row w-full gap-10 justify-center items-center" >
                    <div>
                        <input type="text" name="serach" id="search" placeholder="Entrez le nom...." class="w-64 h-10 p-1 border-2 border-blue-600 rounded-xl" >
                        <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                    </div>
                   
                </section>
              
                <div class="w-full h-full bg-purple-500 flex pt-2 p-5 flex-col gap-5" >
                    <span class="ml-1 mt-10 mr-1 w-full rounded h-0.5 bg-gray-400" ></span>
                    <div>
                        <table class=" flex flex-col gap-1 table-fixed w-full">
                            <th>LIST D'ABSCENCE DES ELEVES</th>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Matricule</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Nom</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Classe</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Date</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Nombre d'heures</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Statut</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >action</td>
                            </tr>
                            <tr th:each="abscenceEleve : ${abscenceEleves}" class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.eleve.matricule}">ES23ML0004</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.eleve.nom}" >NGUETSOP</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.eleve.classe.classe}" >TC1</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.dateAbscence}" >10-12-2022</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.nombreHeure}">17</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${abscenceEleve.statut}" >justifier</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >Edit/Delete</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </main>
        </div>

        <th:block th:replace="layouts/footer"/>

    </body>
</html>