<!DOCTYPE html>
<html lang="en" smlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remplir le cahier de texte</title>
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    </head>
    <body >
        <div class="absolute pl-3 pt-2 w-16 duration-300 ease-in cursor-pointer h-10 bg-black opacity-50 rounded-bl-full rounded-tl-full right-0 top-10 hover:opacity-90 "><i class="fa-solid fa-gear fa-2xl" style="color:#ffffff;"></i></div>
        <div class="flex flex-row w-full h-screen overflow-hidden">
            <aside class="flex flex-col gap-5 bg-gradient-to-r from-blue-500 to-green-500 p-4 w-1/5 h-screen">
                <div class="flex flex-row items-center gap-4">
                    <div class=" rounded-full border-4 border-blue-800 bg-white w-20 h-20">
                        <img src="" alt="">
                    </div>
                    <div>
                        <p class="font-black text-xl">MELI ERIC</p>
                        <p class="font-bold text-xs"> fouegangmeli@gmail.com</p>
                    </div>
                </div>
                <div>
                    <ul  class="flex flex-col gap-5">
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-house-chimney"></i>Accueil</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-user-graduate"></i> Eleves</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-money-bill-1-wave"></i> Scolarite</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-user-tie"></i> Professeurs</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-book" ></i> Cahier de text</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-regular fa-bookmark"></i> Notes</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-receipt"></i> Bultins de notes</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-book-bookmark"></i> Abscences des eleves</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-gear"></i> Parametre</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-right-from-bracket"></i> Deconnection</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-arrow-rotate-right"></i> Reload</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <span class="text-white font-medium" >&copy; 2023</span>
                    <span class="text-red-500 font-medium">Administration ML-SCHOOL</span>
                </div>
            </aside>
            <main class="flex flex-col w-4/5 h-screen bg-purple-500">
                <head>
                    <span class="p-5 text-xl text-gray-600 font-bold">  REMPLIR LE CAHIER DE TEXTE </span>
                </head>
                <section class="flex flex-row w-full pl-10 gap-10 justify-start items-center" >
                    <div>
                        <input type="text" name="serach" id="search" placeholder="Entrez le nom...." class="w-72 h-10 p-1 border-2 border-blue-600 rounded-xl" >
                        <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                    </div>
                    
                </section>
              
                <section class="w-full">
                    <div class="flex flex-row gap-10 px-6 py-8">
                        <div class=" w-full bg-white rounded-lg ">
                            <div class="p-6 ">
    
                                <form class=" grid gap-5 grid-cols-2" action="#">
                                    <div>
                                        <label for="matricule" class="block mb-2 text-sm font-medium text-gray-900">
                                            Matricule</label>
                                        <input type="texte" name="matricule" id="matricule"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="matricule" required>
                                    </div>
                                    <div>
                                        <label for="nom" class="block mb-2 text-sm font-medium text-gray-900">
                                            Nom</label>
                                        <input type="text" name="nom" id="nom"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="name" required>
                                    </div>
                                    <div>
                                        <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900">
                                            Prenom</label>
                                        <input type="text" name="prenom" id="prenom"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="name" required>
                                    </div>
                                    <div>
                                        <label for="datenaissance" class="block mb-2 text-sm font-medium text-gray-900">
                                            Date de naissance</label>
                                        <input type="text" name="datenaissance" id="datenaissance"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="name@company.com" required>
                                    </div>
                                    <div>
                                        <label for="classe" class="block mb-2 text-sm font-medium text-gray-900">
                                            Classe</label>
                                        <input type="text" name="classe" id="classe"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="name@company.com" required>
                                    </div>
                                    <div>
                                        <label for="lieunaissance" class="block mb-2 text-sm font-medium text-gray-900">
                                            Lieu naissance</label>
                                        <input type="text" name="lieunaissance" id="lieunaissance"
                                            class=" w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                            placeholder="name@company.com" required>
                                    </div>
                                
                                </form>
                            </div>
                        </div>
                        <div class="flex flex-col gap-5 justify-center items-center bg-white rounded-lg w-96 h-80 ">
                            <p class="text-center font-bold" >User Name </p>
                            <div class=" rounded-full border-4 border-blue-800 bg-white w-24 h-24">
                                
                            </div>
                            <label class="w-32 h-8 flex justify-center items-center hover:bg-blue-900 duration-800 rounded-md font-bold bg-blue-600 " for="input-file">Update image</label>
                            <input type="file"class="rounded hidden w-24 h-10 bg-blue-600 p-2.5" id="input-file" />
                        </div>
                    </div>
                    <div class=" ml-6 w-11/12 bg-white rounded-lg ">
                        <div class="p-6 ">

                            <form class=" flex gap-5 " action="#">
                                <div>
                                    <label for="periode" class="block mb-2 text-sm font-medium text-gray-900">
                                        Periode</label>
                                    <select name="" id="periode" class="w-36 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option value="1er-trimestre">1er Trimestre</option>
                                        <option value="2eme-trimestre">2eme Trimestre</option>
                                        <option value="2eme-trimestre">3eme Trimestre</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="annee" class="block mb-2 text-sm font-medium text-gray-900">
                                        Annee scolaire</label>
                                    <select name="" id="annee" class="w-36 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="classe" class="block mb-2 text-sm font-medium text-gray-900">
                                        Status</label>
                                    <select name="" id="classe" class="w-36 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option value="Marie">Marie</option>
                                        <option value="Celibataire">Celibataire</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="scolarite" class="block mb-2 text-sm font-medium text-gray-900">
                                        Date</label>
                                    <input type="date" name="scolarite" id="scolarite"
                                        class=" w-44 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                        placeholder="$" required>
                                </div>
                                <div>
                                    <label for="solde" class="block mb-2 text-sm font-medium text-gray-900">
                                        Nombre d'heure</label>
                                    <input type="number" name="solde" id="solde"
                                        class=" w-44 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 block p-2.5 "
                                        placeholder="" required>
                                </div>
                                <div>
                                    <label for="classe" class="block mb-2 text-sm font-medium text-gray-900">
                                        Classe</label>
                                    <select name="" id="classe" class="w-36 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option value="tc1">TC1</option>
                                        <option value="ta1">TA1</option>
                                        <option value="tc2">TC2</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                
            </main>
        </div>
    </body>
</html>