<th:block th:replace="layouts/header"/>


                <head>
                    <span class="p-5 text-xl text-gray-600 font-bold">CONSULTATION DES EVALUATIONS</span>
                </head>
                
              
                <section class="w-full">

                    <div class=" ml-6 w-11/12 bg-white rounded-lg ">
                        <div class="p-6 ">

                            <form class=" grid grid-cols-3 gap-5 " th:object="${evaluation}" method="post" action="">
                                <div>
                                    <label for="classe" class="block mb-2 text-sm font-medium text-gray-900">
                                        Classe</label>
                                    <select th:field="*{affectation.idclasse}" name="" id="classe" class="w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option th:each="classe : ${classes}" th:value="${classe.id}" th:text="${#strings.toUpperCase(classe.classe)}" >tc1</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="periode" class="block mb-2 text-sm font-medium text-gray-900">
                                        Periode</label>
                                    <div>
                                        <select  th:field="*{periode}" id="periode"
                                            class="w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5">
                                            <option value="1er-trimestre">1er Trimestre</option>
                                            <option value="2eme-trimestre">2eme Trimestre</option>
                                            <option value="2eme-trimestre">3eme Trimestre</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label for="matiere" class="block mb-2 text-sm font-medium text-gray-900">
                                        Matiere</label>
                                    <select th:field="*{affectation.idmatiere}" name="" id="matiere" class="w-80 rounded-xl bg-gray-50 border border-gray-300 text-gray-900 p-2.5 " >
                                        <option th:each="matiere : ${matieres}" th:value="${matiere.id}" th:text="${#strings.toUpperCase(matiere.nom)}" >Chimie</option>
                                    </select>
                                </div>
                                <div></div>
                                <input type="submit" name="submit" class="p-2.5 w-60 rounded-xl font-bold ease-in hover:bg-blue-900 duration-500 bg-blue-700" value="valider">
                                <div th:if="${error}">
                                    <p class="text-red-600 font-bold" th:text="${error}"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

                <div th:if="${evaluations}" class="w-full h-full bg-purple-500 flex pt-2 p-5 flex-col gap-5" >
                    <span class="ml-1 mt-10 mr-1 w-full rounded h-0.5 bg-gray-400" ></span>
                    <div>
                        <table class=" flex flex-col gap-1 table-fixed w-full">
                            <th>LISTE DES NOTE EVALUATION</th>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Matricule</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Nom</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Prenom</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Note</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Professeur</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Date</td>
                            </tr>
                            <tr th:each="evaluation : ${evaluations}" class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.eleve.matricule)}">ES23ML0004</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.eleve.nom)}" >NGUETSOP</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.eleve.prenom)}" >NGUETSOP</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.note)}" >16</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.affectation.professeur.nom)}" >meli</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " th:text="${#strings.toUpperCase(evaluation.date)}">10-12-2022</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                
            </main>
        </div>

        <th:block th:replace="layouts/footer"/>
    </body>
</html>