<!DOCTYPE html>
<html lang="en" smlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion Matiere</title>
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    </head>
    <body >
        <div class="absolute pl-3 pt-2 w-16 duration-300 cursor-pointer ease-in h-10 bg-black opacity-50 rounded-bl-full rounded-tl-full right-0 top-10 hover:opacity-90 "><i class="fa-solid fa-gear fa-2xl" style="color:#ffffff;"></i></div>
        <div class="flex flex-row w-full h-screen overflow-hidden">
            <aside class="flex flex-col gap-5 bg-gradient-to-r from-blue-500 to-green-500 p-4 w-1/5 h-screen">
                <div class="flex flex-row items-center gap-4">
                    <div class=" rounded-full border-4 border-blue-800 bg-white w-20 h-20">
                        <img src="" alt="">
                    </div>
                    <div>
                        <p class="font-black text-xl">MELI ERIC</p>
                        <p class="font-bold text-xs"> fouegangmeli@gmail.com</p>
                    </div>
                </div>
                <div>
                    <ul  class="flex flex-col gap-5">
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-house" style="color: #ffffff;"></i>Accueil</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-user-graduate"></i> Eleves</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-money-bill-1-wave"></i> Scolarite</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-user-tie"></i> Professeurs</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fas fa-book" ></i> Cahier de text</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-regular fa-bookmark"></i> Notes</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-receipt"></i> Bultins de notes</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-book-bookmark"></i> Abscences des eleves</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-gear"></i> Parametre</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-right-from-bracket"></i> Deconnection</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                        <li class="flex flex-row justify-between items-center"><a class="flex items-center flex-row gap-5 hover:text-blue-600 text-white font-medium ml-6" href=""><i class="fa-solid fa-arrow-rotate-right"></i> Reload</a><i class="fas fa-angle-down " style="color:#ffffff;" ></i></li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <span class="text-white font-medium" >&copy; 2023</span>
                    <span class="text-red-500 font-medium">Administration ML-SCHOOL</span>
                </div>
            </aside>
            <main class="flex flex-col w-4/5 h-screen bg-purple-500">
                <head>
                    <span class="p-5 text-xl text-gray-600 font-bold">GESTION DES Matieres</span>
                </head>
                <section class="flex flex-row w-full gap-10 justify-start items-center" >
                    <div>
                        <input type="submit" class="p-1 h-12 ml-6 w-60 mt-6 rounded-xl font-bold ease-in hover:bg-blue-900 duration-75 bg-blue-700" value="Creation">
                    </div>
                    
                </section>
              
                <div class="w-full h-full bg-purple-500 flex pt-2 p-5 flex-col gap-5" >
                    <span class="ml-1 mt-10 mr-1 w-full rounded h-0.5 bg-gray-400" ></span>
                    <div>
                        <table class=" flex flex-col gap-1 table-fixed w-full">
                            <th>Liste des Matieres</th>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                               
                                <td class="font-bold pl-4 bg-blue-500 w-2/6 text-sm " >Libelle de la Matiere</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Coef</td>
                                <td class="font-bold pl-4 bg-blue-500 w-2/6 text-sm " >Classe</td>
                                <td class="font-bold pl-4 bg-blue-500 w-1/6 text-sm " >Action</td>
                            </tr>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >Chimie</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >18</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >TC1</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >Edit/Delete</td>
                            </tr>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >Chimie</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >18</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >TC1</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >Edit/Delete</td>
                            </tr>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >Chimie</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >18</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >TC1</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >Edit/Delete</td>
                            </tr>
                            <tr class="flex flex-row mb-0.5 gap-0.5 w-full" >
                                
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >Chimie</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >18</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-2/6 text-sm " >TC1</td>
                                <td class="font-bold pl-4 border-2 border-l-gray-300 border-b-gray-300  bg-white w-1/6 text-sm " >Edit/Delete</td>
                            </tr>
                        </table>
                        <span>Total: 7 Matiere(s)</span>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>